<h1>Listing users</h1>
 
<table>
  <tr>
    <th>User</th>
    <th>Email</th>
  </tr>
 
  <% @user.each do |u| %>
    <tr>
      <td><%= u.username %></td>
      <td><%= u.email %></td>
    </tr>
  <% end %>
</table>